@font-face {
  font-family: 'Rocket Clouds';
  src: url('../fonts/RocketClouds.ttf');
}

@font-face {
  font-family: 'Museo Sans';
  src: url('../fonts/MuseoSans_500.otf');
}

@import 'variables';

@import 'general';
@import 'header';
@import 'nav';
@import 'hero';
@import 'sections';
@import 'footer';
